# Umfrage Teil I

Datenvorbereitung

## Daten importieren

In [2]:
import pandas as pd

df = pd.read_csv("data/raw_ws22.csv")

## Datenüberblick

In [3]:
df

,Zeitstempel,Ich bin sportlich,Ich bin fleißig.,Von Rückschlägen lasse ich mich nicht entmutigen.,Meine Fähigkeiten und Talente sind vorgegeben und ich kann daran nicht viel ändern.,"1990 lebten 58 % der Weltbevölkerung in Ländern mit niedrigem Einkommen. Wie hoch ist der Anteil heute? Geben Sie eine Zahl ein (z. B. 9, 37 oder 61)","Wie viel der weltweit verbrauchten Energie stammt aus Erdgas, Kohle und Öl?",Welcher Anteil der Weltbevölkerung lebt in Megacitys (Städte mit mindestens 10 Millionen Einwohnern)?,Wie viele Geleebohnen befinden sich in diesem sechseckigen Glas?,"Wie viele Minuten verbringen Sie an einem typischen Tag in sozialen Medien (Facebook, Instagram, Snapchat, etc.)?",Wie viele Minuten investieren Sie ca. pro Tag in Ihr Studium (abgesehen von Lehrveranstaltungen)?,Lesen Sie zur Zeit ein Buch?,Wie alt sind Sie?,Sie sind ...
0,2022/09/14 8:21:58 PM OEZ,teils teils,trifft eher zu,4,trifft überhaupt nicht zu,9,ca. 42%,4,3000,34,34,Ja,22,Männlich
1,2022/09/17 6:10:24 PM OEZ,trifft eher nicht zu,trifft eher nicht zu,2,trifft eher zu,45,ca. 62%,3,400,34,2,Nein,34,Weiblich
2,2022/09/17 6:11:20 PM OEZ,teils teils,trifft eher nicht zu,3,trifft eher zu,34,ca. 82%,5,4000,23,12,Ja,12,Männlich
3,2022/10/11 3:18:26 PM OEZ,trifft völlig zu,trifft eher zu,4,trifft eher nicht zu,61,ca. 62%,3,586,180,60,Ja,23,Weiblich
4,2022/10/11 3:19:05 PM OEZ,trifft eher nicht zu,trifft völlig zu,2,trifft eher nicht zu,43,ca. 62%,2,350,120,200,Ja,23,Weiblich
5,2022/10/11 3:19:11 PM OEZ,trifft eher nicht zu,teils teils,4,trifft eher nicht zu,36,ca. 82%,4,2700,150,60,Nein,26,Männlich
6,2022/10/11 3:19:27 PM OEZ,trifft überhaupt nicht zu,trifft eher zu,4,trifft eher nicht zu,60,ca. 82%,2,999,240,180,Ja,22,Weiblich
7,2022/10/11 3:19:27 PM OEZ,trifft völlig zu,trifft eher zu,4,teils teils,61,ca. 62%,2,500,2,180,Ja,25,Männlich
8,2022/10/11 3:19:31 PM OEZ,trifft eher zu,trifft eher zu,3,teils teils,65,ca. 42%,4,2136,200,60,Ja,24,Weiblich
9,2022/10/11 3:19:37 PM OEZ,trifft eher nicht zu,trifft eher nicht zu,2,trifft eher nicht zu,40%,ca. 82%,4,3000,240,60,Ja,23,Weiblich
10,2022/10/11 3:19:39 PM OEZ,trifft eher zu,trifft eher nicht zu,4,trifft überhaupt nicht zu,65,ca. 62%,2,5221,60,15,Nein,22,Männlich
11,2022/10/11 3:19:42 PM OEZ,teils teils,trifft eher zu,4,teils teils,60,ca. 82%,3,500,90,90,Ja,26,Weiblich
12,2022/10/11 3:19:42 PM OEZ,teils teils,trifft eher zu,2,teils teils,80,ca. 82%,1,3000,50,600,Ja,22,Weiblich
13,2022/10/11 3:19:44 PM OEZ,teils teils,trifft eher nicht zu,3,trifft eher zu,70,ca. 82%,2,2000,15,35,Ja,20,Weiblich
14,2022/10/11 3:19:45 PM OEZ,trifft eher zu,trifft eher zu,2,teils teils,62,ca. 42%,4,814,120,90,Ja,20,Weiblich
15,2022/10/11 3:19:46 PM OEZ,trifft überhaupt nicht zu,trifft völlig zu,4,trifft eher nicht zu,61,ca. 82%,2,1000,120,120,Ja,21,Weiblich
16,2022/10/11 3:19:48 PM OEZ,trifft eher zu,teils teils,2,trifft überhaupt nicht zu,60,ca. 82%,2,1500,360,30,Ja,23,Weiblich
17,2022/10/11 3:20:05 PM OEZ,teils teils,teils teils,4,trifft eher nicht zu,40,ca. 82%,2,2340,180,40,Nein,19,Weiblich
18,2022/10/11 3:20:07 PM OEZ,teils teils,trifft eher nicht zu,4,trifft überhaupt nicht zu,65,ca. 82%,4,2057,100,120,Ja,20,Weiblich
19,2022/10/11 3:20:07 PM OEZ,teils teils,trifft eher nicht zu,2,trifft eher zu,78,ca. 82%,2,1624,180,45,Ja,20,Weiblich
20,2022/10/11 3:20:14 PM OEZ,trifft eher nicht zu,teils teils,2,trifft überhaupt nicht zu,60,ca. 62%,4,543,150,90,Nein,20,Weiblich
21,2022/10/11 3:20:22 PM OEZ,trifft völlig zu,teils teils,1,trifft eher nicht zu,61,ca. 82%,5,5000,35,60,Nein,27,Männlich
22,2022/10/11 3:20:29 PM OEZ,trifft eher zu,teils teils,3,trifft eher nicht zu,74,ca. 82%,3,1423,90,120,Ja,26,Weiblich
23,2022/10/11 3:20:32 PM OEZ,trifft eher zu,trifft eher zu,3,trifft eher nicht zu,70,ca. 82%,4,2000,120,120,Ja,19,Weiblich
24,2022/10/11 3:20:36 PM OEZ,trifft eher zu,teils teils,3,trifft eher nicht zu,62,ca. 62%,2,1500,120,90,Ja,25,Weiblich
25,2022/10/11 3:20:43 PM OEZ,trifft eher nicht zu,teils teils,3,teils teils,40,ca. 62%,4,558,280,180,Ja,20,Weiblich
26,2022/10/11 3:21:05 PM OEZ,trifft eher nicht zu,trifft eher zu,3,trifft eher nicht zu,67,ca. 82%,2,486,120,180,Ja,20,Weiblich
27,2022/10/11 3:21:07 PM OEZ,trifft eher zu,teils teils,2,trifft eher nicht zu,67,ca. 62%,3,424,45,120,Nein,20,Weiblich
28,2022/10/11 3:21:18 PM OEZ,trifft eher nicht zu,trifft eher zu,2,trifft eher nicht zu,61,ca. 62%,2,1500,120,60,Ja,20,Weiblich
29,2022/10/11 3:21:38 PM OEZ,trifft völlig zu,trifft eher zu,4,teils teils,70,ca. 82%,2,1989,90,60,Nein,20,Weiblich
30,2022/10/11 3:21:40 PM OEZ,teils teils,trifft eher zu,4,trifft eher nicht zu,70,ca. 82%,4,1000,60,150,Ja,21,Weiblich
31,2022/10/11 3:22:01 PM OEZ,trifft eher nicht zu,trifft eher zu,4,teils teils,65%,ca. 62%,2,200,3,2,Ja,21,Weiblich
32,2022/10/11 3:22:27 PM OEZ,trifft eher zu,trifft eher zu,5,trifft eher nicht zu,20,ca. 62%,3,300,5,100,Nein,21,Männlich
33,2022/10/11 3:22:41 PM OEZ,trifft eher zu,trifft eher nicht zu,3,trifft eher nicht zu,40,ca. 82%,2,332,120,60,Nein,20,Männlich
34,2022/10/11 3:22:50 PM OEZ,trifft eher zu,teils teils,5,trifft überhaupt nicht zu,65,ca. 82%,4,1350,30,60,Ja,24,Männlich
35,2022/10/11 3:23:21 PM OEZ,trifft völlig zu,trifft völlig zu,5,trifft überhaupt nicht zu,15,ca. 82%,4,750,15,4,Ja,24,Männlich
36,2022/10/11 3:23:40 PM OEZ,teils teils,trifft eher nicht zu,4,trifft eher nicht zu,55,ca. 62%,2,2000,120,45,Nein,22,Männlich
37,2022/10/11 3:25:02 PM OEZ,teils teils,trifft eher zu,2,trifft eher nicht zu,30,ca. 62%,3,700,180,200,Ja,22,Weiblich

In [4]:
df.dtypes

Zeitstempel                                                                                                                                              object
Ich bin sportlich                                                                                                                                        object
Ich bin fleißig.                                                                                                                                         object
Von Rückschlägen lasse ich mich nicht entmutigen.                                                                                                         int64
Meine Fähigkeiten und Talente sind vorgegeben und ich kann daran nicht viel ändern.                                                                      object
1990 lebten 58 % der Weltbevölkerung in Ländern mit niedrigem Einkommen. Wie hoch ist der Anteil heute? Geben Sie eine Zahl ein (z. B. 9, 37 oder 61)    object
Wie viel der weltweit verbrauchten Energie stammt aus Erdgas, Kohle und Öl?                                                                              object
Welcher Anteil der Weltbevölkerung lebt in Megacitys (Städte mit mindestens 10 Millionen Einwohnern)?                                                     int64
Wie viele Geleebohnen befinden sich in diesem sechseckigen Glas?                                                                                          int64
Wie viele Minuten verbringen Sie an einem typischen Tag in sozialen Medien (Facebook, Instagram, Snapchat, etc.)?                                         int64
Wie viele Minuten investieren Sie ca. pro Tag in Ihr Studium (abgesehen von Lehrveranstaltungen)?                                                         int64
Lesen Sie zur Zeit ein Buch?                                                                                                                             object
Wie alt sind Sie?                                                                                                                                         int64
Sie sind ...                                                                                                                                             object
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 14 columns):
 #   Column                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                 --------------  -----
 0   Zeitstempel                                                                                                                                            38 non-null     object
 1   Ich bin sportlich                                                                                                                                      38 non-null     object
 2   Ich bin fleißig.                                                                                                                                       38 non-null     object
 3   Von Rückschlägen lasse ich mich nicht entmutigen.                                                                                                      38 non-null     int64
 4   Meine Fähigkeiten und Talente sind vorgegeben und ich kann daran nicht viel ändern.                                                                    38 non-null     object
 5   1990 lebten 58 % der Weltbevölkerung in Ländern mit niedrigem Einkommen. Wie hoch ist der Anteil heute? Geben Sie eine Zahl ein (z. B. 9, 37 oder 61)  38 non-null     object
 6   Wie viel der weltweit verbrauchten Energie stammt aus Erdgas, Kohle und Öl?                                                                            38 non-null     object
 7   Welcher Anteil der Weltbevölkerung lebt in Megacitys (Städte mit mindestens 10 Millionen Einwohnern)?                                                  38 non-null     int64
 8   Wie viele Geleebohnen befinden sich in diesem sechseckigen Glas?                                                                                       38 non-null     int64
 9   Wie viele Minuten verbringen Sie an einem typischen Tag in sozialen Medien (Facebook, Instagram, Snapchat, etc.)?                                      38 non-null     int64
 10  Wie viele Minuten investieren Sie ca. pro Tag in Ihr Studium (abgesehen von Lehrveranstaltungen)?                                                      38 non-null     int64
 11  Lesen Sie zur Zeit ein Buch?                                                                                                                           38 non-null     object
 12  Wie alt sind Sie?                                                                                                                                      38 non-null     int64
 13  Sie sind ...                                                                                                                                           38 non-null     object
dtypes: int64(6), object(8)
memory usage: 4.3+ KB

## Daten anpassen

### Spaltennamen

In [6]:
# Spaltennamen umbenennen
df = df.rename(columns={ 
            "Zeitstempel": "zeit",
            "Ich bin sportlich": "sport",
            "Ich bin fleißig.": "fleissig",
            "Von Rückschlägen lasse ich mich nicht entmutigen.": "entmutigen",
            "Meine Fähigkeiten und Talente sind vorgegeben und ich kann daran nicht viel ändern.": 'talente',
            "1990 lebten 58 % der Weltbevölkerung in Ländern mit niedrigem Einkommen. Wie hoch ist der Anteil heute? Geben Sie eine Zahl ein (z. B. 9, 37 oder 61)": "einkommen",
            "Wie viel der weltweit verbrauchten Energie stammt aus Erdgas, Kohle und Öl?": "energie",
            "Welcher Anteil der Weltbevölkerung lebt in Megacitys (Städte mit mindestens 10 Millionen Einwohnern)?": "megacity",
            "Wie viele Geleebohnen befinden sich in diesem sechseckigen Glas?": "geleebohnen",
            "Wie viele Minuten verbringen Sie an einem typischen Tag in sozialen Medien (Facebook, Instagram, Snapchat, etc.)?": "soziale_medien",
            "Wie viele Minuten investieren Sie ca. pro Tag in Ihr Studium (abgesehen von Lehrveranstaltungen)?": "studium",
            "Lesen Sie zur Zeit ein Buch?": "buch",
            "Wie alt sind Sie?": "alter",
            "Sie sind ...": "geschlecht"
}, errors="raise")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   zeit            38 non-null     object
 1   sport           38 non-null     object
 2   fleissig        38 non-null     object
 3   entmutigen      38 non-null     int64
 4   talente         38 non-null     object
 5   einkommen       38 non-null     object
 6   energie         38 non-null     object
 7   megacity        38 non-null     int64
 8   geleebohnen     38 non-null     int64
 9   soziale_medien  38 non-null     int64
 10  studium         38 non-null     int64
 11  buch            38 non-null     object
 12  alter           38 non-null     int64
 13  geschlecht      38 non-null     object
dtypes: int64(6), object(8)
memory usage: 4.3+ KB

### Variablen anpassen

#### Nominale Variablen

In [8]:
# Liste mit nominalen Variablen erstellen
list_nominal = ["buch", "geschlecht"]

In [9]:
# Nominale Variablen als kategorial formatieren (category)
for i in list_nominal:
    df[i] = df[i].astype("category")

In [10]:
# Nominale Variablen anzeigen lassen
df[list_nominal].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   buch        38 non-null     category
 1   geschlecht  38 non-null     category
dtypes: category(2)
memory usage: 452.0 bytes

In [11]:
df[list_nominal].head()

   buch geschlecht
0    Ja   Männlich
1  Nein   Weiblich
2    Ja   Männlich
3    Ja   Weiblich
4    Ja   Weiblich

- Beide nominalen Variablen enthalten Text in den Zeilen (mit jeweils zwei möglichen Ausprägungen). 


- Dies kann bei späteren Analysen zu Problemen führen, weshalb wir zusätzlich so genannte "Dummy-Variablen" erzeugen, die nur die Werte 1 und 0 enthalten.

In [12]:
dummy_nominal = pd.get_dummies(df[list_nominal],  prefix_sep='__').astype('category')
dummy_nominal

   buch__Ja buch__Nein geschlecht__Männlich geschlecht__Weiblich
0         1          0                    1                    0
1         0          1                    0                    1
2         1          0                    1                    0
3         1          0                    0                    1
4         1          0                    0                    1
5         0          1                    1                    0
6         1          0                    0                    1
7         1          0                    1                    0
8         1          0                    0                    1
9         1          0                    0                    1
10        0          1                    1                    0
11        1          0                    0                    1
12        1          0                    0                    1
13        1          0                    0                    1
14        1          0                    0                    1
15        1          0                    0                    1
16        1          0                    0                    1
17        0          1                    0                    1
18        1          0                    0                    1
19        1          0                    0                    1
20        0          1                    0                    1
21        0          1                    1                    0
22        1          0                    0                    1
23        1          0                    0                    1
24        1          0                    0                    1
25        1          0                    0                    1
26        1          0                    0                    1
27        0          1                    0                    1
28        1          0                    0                    1
29        0          1                    0                    1
30        1          0                    0                    1
31        1          0                    0                    1
32        0          1                    1                    0
33        0          1                    1                    0
34        1          0                    1                    0
35        1          0                    1                    0
36        0          1                    1                    0
37        1          0                    0                    1

In [13]:
# Dummy-Variablen hinzufügen
df = df.join(dummy_nominal)

In [14]:
# Liste um die neuen Variablen erweitern 
dummy_nominal_name = dummy_nominal.columns.tolist()

list_nominal.extend(dummy_nominal_name)

In [15]:
list_nominal

['buch',
 'geschlecht',
 'buch__Ja',
 'buch__Nein',
 'geschlecht__Männlich',
 'geschlecht__Weiblich']

#### Ordinale Variablen

Die Variablen `sport`,`fleissig`, `talente` und `entmutigen` wurden mit Hilfe einer so genannten [Likert-Skala](https://de.wikipedia.org/wiki/Likert-Skala) erhoben.

Die Antwortmöglichkeiten reichen bei der Likertskala typischerweise von „trifft überhaupt nicht zu“ bis "trifft völlig zu“, wobei eine gerade Zahl der Antwortmöglichkeiten ebenso gebräuchlich ist wie eine ungerade Anzahl. Es ist jedoch sinnvoll, in einem Fragebogen nur eine der beiden Varianten zu verwenden. Zudem sollte die Reihenfolge der Antwortmöglichkeiten immer identisch sein.

- Eine **ungerade Anzahl** wird verwendet, wenn eine mittlere Ausprägung (bspw. "teils teils") sinnvoll ist. 

- Eine **gerade Anzahl** zwingt dagegen zur Entscheidung zu einer Seite (tendenzielle Zustimmung oder Ablehnung).

Da wir nicht davon ausgehen können, dass eine befragte Person die Abstände der einzelnen Antwortmöglichkeiten als gleich weit entfernt wahrnimmt (äquidistant), handelt es sich streng genommen um ein ordinales Skalenniveau. Um bei der späteren Auswertung die erhobenen Daten aber dennoch wie intervallskalierte Daten behandeln zu können, behandelt man die Variablen oftmals als "quais-metrisch" und unterstellt somit (zumindest annäherungsweise) äquidistante Abstände.

Wir behandeln in Folgenden zwei unterschiedliche Optionen zum Umgang mit den Variablen:

- Option 1: Wir behandeln die Variablen als ordinale Variablen (wird im Anschluss gezeigt).

- Option 2: Wir behandeln die Variablen als "quasimetrische" Variablen - d.h. wie numerische Daten (diese Option wird in dem Abschnitt "Quasi-metrische Variablen" behandelt).

In den Fragen wurde "sport", "fleissig", "talente" mit Hilfe von Bezeichnungen wie "trifft überhaupt nicht zu" erhoben, während "entmutigen" mit Hilfe von numerischen Werten (1 bis 5) erfasst wurde.

Da wir besser mit einheitlich skalierten Werten umgehen können, wird zunächst die Variable "entmutigen" in das gleiche Format überführt.

Da wir die Variable `entmutigen` nicht versehentlich durch Datentransformationen fehlerhaft verändern möchten, speichern wir sie zunächst nochmals in der originalen Version ab (als `entmutigen_orig`).

In [16]:
df['entmutigen_orig'] = df['entmutigen']

Erzeugung der Listen für die Veränderung der Variable (in der korrekten Reihenfolge):

In [17]:
werte = [1, 2, 3, 4, 5]

likert =["trifft überhaupt nicht zu",
         "trifft eher nicht zu",
         "teils teils",
         "trifft eher zu",
         "trifft völlig zu"]

In [18]:
df['entmutigen'].replace(werte, likert, inplace=True)

df['entmutigen'].head()

0          trifft eher zu
1    trifft eher nicht zu
2             teils teils
3          trifft eher zu
4    trifft eher nicht zu
Name: entmutigen, dtype: object

In [19]:
df['entmutigen_orig'].head()

0    4
1    2
2    3
3    4
4    2
Name: entmutigen_orig, dtype: int64

Erstellung einer Liste:

In [20]:
list_ordinal = ["sport", "fleissig", "talente", "entmutigen"]

In [21]:
from pandas.api.types import CategoricalDtype

cat_type= CategoricalDtype(categories=likert, ordered=True)

cat_type

CategoricalDtype(categories=['trifft überhaupt nicht zu', 'trifft eher nicht zu',
                  'teils teils', 'trifft eher zu', 'trifft völlig zu'],
, ordered=True)

In [22]:
df[list_ordinal] = df[list_ordinal].astype(cat_type)

In [23]:
df["sport"]

0                   teils teils
1          trifft eher nicht zu
2                   teils teils
3              trifft völlig zu
4          trifft eher nicht zu
5          trifft eher nicht zu
6     trifft überhaupt nicht zu
7              trifft völlig zu
8                trifft eher zu
9          trifft eher nicht zu
10               trifft eher zu
11                  teils teils
12                  teils teils
13                  teils teils
14               trifft eher zu
15    trifft überhaupt nicht zu
16               trifft eher zu
17                  teils teils
18                  teils teils
19                  teils teils
20         trifft eher nicht zu
21             trifft völlig zu
22               trifft eher zu
23               trifft eher zu
24               trifft eher zu
25         trifft eher nicht zu
26         trifft eher nicht zu
27               trifft eher zu
28         trifft eher nicht zu
29             trifft völlig zu
30                  teils teils
31         trifft eher nicht zu
32               trifft eher zu
33               trifft eher zu
34               trifft eher zu
35             trifft völlig zu
36                  teils teils
37                  teils teils
Name: sport, dtype: category
Categories (5, object): ['trifft überhaupt nicht zu' < 'trifft eher nicht zu' < 'teils teils' < 'trifft eher zu' < 'trifft völlig zu']

In [24]:
# Anzeige der Ausprägungen
df['sport'].cat.categories

Index(['trifft überhaupt nicht zu', 'trifft eher nicht zu', 'teils teils',
       'trifft eher zu', 'trifft völlig zu'],
      dtype='object')

#### Kategoriale Variablen

In [25]:
list_cat = list_nominal + list_ordinal

#### Numerische Variablen

Wir behandeln zunächst die "eindeutig" numerischen Variablen (d.h. wir ignorieren die quasi-metrischen). diese wären:

- einkommen
- energie
- megacity
- geleebohnen
- soziale_medien
- studium
- alter

In [26]:
list_num = ['einkommen', 'energie', 'megacity', 'geleebohnen', 
            'soziale_medien', 'studium', 'alter']

In [27]:
df[list_num].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   einkommen       38 non-null     object
 1   energie         38 non-null     object
 2   megacity        38 non-null     int64
 3   geleebohnen     38 non-null     int64
 4   soziale_medien  38 non-null     int64
 5   studium         38 non-null     int64
 6   alter           38 non-null     int64
dtypes: int64(5), object(2)
memory usage: 2.2+ KB

Wir können mit `df.info()` erkennen, dass abgesehen von `energie` bereits alle Variablen korrrekt als "int64" (siehe zur Bedeutung diesen [Stackoverflow-Beitrag](https://stackoverflow.com/questions/9696660/what-is-the-difference-between-int-int16-int32-and-int64)) gespeichert wurden.

In [28]:
df['energie'].head()

0    ca. 42%
1    ca. 62%
2    ca. 82%
3    ca. 62%
4    ca. 62%
Name: energie, dtype: object

In den Antwortmöglichkeiten der Variable waren neben numerischen Werten auch Buchstaben und ein Sonderzeichen enthalen: "ca." und "%". Damit wir sinnvoll mit der Variable arbeiten können, müssen diese entfernt werden. 

Da wir die Variable nicht versehentlich durch Datentransformationen korrumpieren möchten, speichern wir sie zunächst nochmals in der originalen Version ab (als `energie_orig`). Um die numerischen Werte leichter extrahieren zu können, nutzen wir das Format "String".

In [29]:
df['energie_orig'] = df['energie'].astype("string")

Im nächsten Schritt nutzen wir einen [regulärer Ausdruck](https://www.w3schools.com/python/python_regex.asp) (englisch regular expression, Abkürzung RegExp oder Regex) um die Zahl aus dem String zu extrahieren.

|Ausdruck|Bedeutung|Beschreibung|
|:----|:----|:----|
|\d|digit|eine Ziffer, also [0-9] (und evtl. auch weitere Zahlzeichen in Unicode, z. B. bengalische Ziffern)|
|\D|no digit|ein Zeichen, das keine Ziffer ist, also [^\d]|
|\w|word character|ein Buchstabe, eine Ziffer oder der Unterstrich, also [a-zA-Z_0-9] (und evtl. auch nicht-lateinische Buchstaben, z. B. Umlaute)|
|\W|no word character|ein Zeichen, das weder Buchstabe noch Zahl noch Unterstrich ist, also [^\w]|
|\s|whitespace|meist zumindest das Leerzeichen und die Klasse der Steuerzeichen \f, \n, \r, \t und \v|
|\S|no whitespace|ein Zeichen, das kein Whitespace ist, also [^\s]|

Falls mehr als ein einzelnes Zeichen extrahiert werden soll, muss am Ende des Ausdrucks ein `+` hinzugefügt werden.

Wir nutzen regular expressions und überschreiben die alte Variable energie mit dem neuen Eintrag. Zudem speichern wir sie als integer.

In [30]:
df['energie'] = df['energie_orig'].str.extract('(\d+)').astype(int)

In [31]:
df[['energie_orig', 'energie']].head()

  energie_orig  energie
0      ca. 42%       42
1      ca. 62%       62
2      ca. 82%       82
3      ca. 62%       62
4      ca. 62%       62

### Quasi-metrische Variablen

Wie bereits erwähnt wurden die Variablen `sport`,`fleissig`, und `talente` mit Hilfe einer  [Likert-Skala](https://de.wikipedia.org/wiki/Likert-Skala) erhoben und könnten somit auch als "quasi-metrisch" behandelt werden (anstelle von ordinal).

Dabei muss jedoch beachtet werden, dass bspw. der Mittelwert aufgrund der Art der Messung (insbesondere wenn eine neutrale mittlere Ausprägung verwendet wird) an Aussagekraft verlieren.

Damit wir die Originaldaten nicht "verlieren", erzeugen wir neue Variablen. Dafür kopieren wir die Daten und fügen diesen die Endung "qm" (für quasimetrisch) hinzu.

In [32]:
for i in list_ordinal:
    df[i + "_qm"] = df[i]

In [33]:
# Erstellung der Liste mit Hilfe von filter und regular expressions
list_qm = df.filter(regex='_qm').columns.to_list()

list_qm

['sport_qm', 'fleissig_qm', 'talente_qm', 'entmutigen_qm']

In [34]:
df[list_qm].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sport_qm       38 non-null     category
 1   fleissig_qm    38 non-null     category
 2   talente_qm     38 non-null     category
 3   entmutigen_qm  38 non-null     category
dtypes: category(4)
memory usage: 1.1 KB

Wir nutzen nun ein ähnliches Vorgehen wie bei der Anpassung der Variable "entmutigen"

In [35]:
for i in list_qm:
    df[i].replace(likert, werte, inplace=True)
    df[i] = df[i].astype("int")

In [36]:
df[list_qm].head()

   sport_qm  fleissig_qm  talente_qm  entmutigen_qm
0         3            4           1              4
1         2            2           4              2
2         3            2           4              3
3         5            4           2              4
4         2            5           2              2

In [37]:
df[list_qm].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sport_qm       38 non-null     int64
 1   fleissig_qm    38 non-null     int64
 2   talente_qm     38 non-null     int64
 3   entmutigen_qm  38 non-null     int64
dtypes: int64(4)
memory usage: 1.3 KB

#### Metrische Variablen

In [38]:
list_metric = list_num + list_qm

## Temporäre Daten speichern

Speichern als CSV:

In [40]:
PATH = "data/"
FILE = "clean_ws22"
FORMAT_CSV = ".csv"

In [41]:
df.to_csv(PATH + FILE + FORMAT_CSV, index=False)

Speichern als Excel-Datei:

In [42]:
FORMAT_EXCEL = ".xlsx"

df.to_excel(PATH + FILE + FORMAT_EXCEL, index=False)