# Umfrage Teil I

Datenvorbereitung

## Daten importieren

In [24]:
from pathlib import Path

PARENT_PATH = str(Path().resolve().parent) + "/"
PATH = "data/"
SUBPATH = "raw/"
FILE = "umfrage"
FORMAT = ".csv"

In [25]:
import pandas as pd

df = pd.read_csv(PARENT_PATH + PATH + SUBPATH + FILE + FORMAT)

## Datenüberblick

In [26]:
df

,Zeitstempel,Ich bin sportlich,Ich bin fleißig.,Von Rückschlägen lasse ich mich nicht entmutigen.,Meine Fähigkeiten und Talente sind vorgegeben und ich kann daran nicht viel ändern.,"1990 lebten 58 % der Weltbevölkerung in Ländern mit niedrigem Einkommen. Wie hoch ist der Anteil heute? Geben Sie eine Zahl ein (z. B. 9, 37 oder 61)","Wie viel der weltweit verbrauchten Energie stammt aus Erdgas, Kohle und Öl?",Welcher Anteil der Weltbevölkerung lebt in Megacitys (Städte mit mindestens 10 Millionen Einwohnern)?,Wie viele Geleebohnen befinden sich in diesem sechseckigen Glas?,"Wie viele Minuten verbringen Sie an einem typischen Tag in sozialen Medien (Facebook, Instagram, Snapchat, etc.)?",Wie viele Minuten investieren Sie ca. pro Tag in Ihr Studium (abgesehen von Lehrveranstaltungen)?,Lesen Sie zur Zeit ein Buch?,Wie alt sind Sie?,Sie sind ...
0,2022/09/14 8:21:58 PM OEZ,teils teils,trifft eher zu,4,trifft überhaupt nicht zu,9,ca. 100%,4,3000,34,34,Ja,22,Männlich
1,2022/09/14 8:21:58 PM OEZ,teils teils,trifft eher zu,4,trifft überhaupt nicht zu,9,ca. 100%,4,3000,34,34,Ja,22,Männlich
2,2022/09/14 8:21:58 PM OEZ,teils teils,trifft eher zu,4,trifft überhaupt nicht zu,9,ca. 100%,4,3000,34,34,Ja,22,Männlich
3,2022/09/14 8:21:58 PM OEZ,teils teils,trifft eher zu,4,trifft überhaupt nicht zu,9,ca. 100%,4,3000,34,34,Ja,22,Männlich
4,2022/09/14 8:21:58 PM OEZ,teils teils,trifft eher zu,4,trifft überhaupt nicht zu,9,ca. 100%,4,3000,34,34,Ja,22,Männlich

In [27]:
df.dtypes

Zeitstempel                                                                                                                                              object
Ich bin sportlich                                                                                                                                        object
Ich bin fleißig.                                                                                                                                         object
Von Rückschlägen lasse ich mich nicht entmutigen.                                                                                                         int64
Meine Fähigkeiten und Talente sind vorgegeben und ich kann daran nicht viel ändern.                                                                      object
1990 lebten 58 % der Weltbevölkerung in Ländern mit niedrigem Einkommen. Wie hoch ist der Anteil heute? Geben Sie eine Zahl ein (z. B. 9, 37 oder 61)     int64
Wie viel der weltweit verbrauchten Energie stammt aus Erdgas, Kohle und Öl?                                                                              object
Welcher Anteil der Weltbevölkerung lebt in Megacitys (Städte mit mindestens 10 Millionen Einwohnern)?                                                     int64
Wie viele Geleebohnen befinden sich in diesem sechseckigen Glas?                                                                                          int64
Wie viele Minuten verbringen Sie an einem typischen Tag in sozialen Medien (Facebook, Instagram, Snapchat, etc.)?                                         int64
Wie viele Minuten investieren Sie ca. pro Tag in Ihr Studium (abgesehen von Lehrveranstaltungen)?                                                         int64
Lesen Sie zur Zeit ein Buch?                                                                                                                             object
Wie alt sind Sie?                                                                                                                                         int64
Sie sind ...                                                                                                                                             object
dtype: object

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 14 columns):
 #   Column                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                 --------------  -----
 0   Zeitstempel                                                                                                                                            5 non-null      object
 1   Ich bin sportlich                                                                                                                                      5 non-null      object
 2   Ich bin fleißig.                                                                                                                                       5 non-null      object
 3   Von Rückschlägen lasse ich mich nicht entmutigen.                                                                                                      5 non-null      int64
 4   Meine Fähigkeiten und Talente sind vorgegeben und ich kann daran nicht viel ändern.                                                                    5 non-null      object
 5   1990 lebten 58 % der Weltbevölkerung in Ländern mit niedrigem Einkommen. Wie hoch ist der Anteil heute? Geben Sie eine Zahl ein (z. B. 9, 37 oder 61)  5 non-null      int64
 6   Wie viel der weltweit verbrauchten Energie stammt aus Erdgas, Kohle und Öl?                                                                            5 non-null      object
 7   Welcher Anteil der Weltbevölkerung lebt in Megacitys (Städte mit mindestens 10 Millionen Einwohnern)?                                                  5 non-null      int64
 8   Wie viele Geleebohnen befinden sich in diesem sechseckigen Glas?                                                                                       5 non-null      int64
 9   Wie viele Minuten verbringen Sie an einem typischen Tag in sozialen Medien (Facebook, Instagram, Snapchat, etc.)?                                      5 non-null      int64
 10  Wie viele Minuten investieren Sie ca. pro Tag in Ihr Studium (abgesehen von Lehrveranstaltungen)?                                                      5 non-null      int64
 11  Lesen Sie zur Zeit ein Buch?                                                                                                                           5 non-null      object
 12  Wie alt sind Sie?                                                                                                                                      5 non-null      int64
 13  Sie sind ...                                                                                                                                           5 non-null      object
dtypes: int64(7), object(7)
memory usage: 688.0+ bytes

## Daten anpassen

### Spaltennamen

In [29]:
# Spaltennamen umbenennen
df = df.rename(columns={ 
            "Zeitstempel": "zeit",
            "Ich bin sportlich": "sport",
            "Ich bin fleißig.": "fleissig",
            "Von Rückschlägen lasse ich mich nicht entmutigen.": "entmutigen",
            "Meine Fähigkeiten und Talente sind vorgegeben und ich kann daran nicht viel ändern.": 'talente',
            "1990 lebten 58 % der Weltbevölkerung in Ländern mit niedrigem Einkommen. Wie hoch ist der Anteil heute? Geben Sie eine Zahl ein (z. B. 9, 37 oder 61)": "einkommen",
            "Wie viel der weltweit verbrauchten Energie stammt aus Erdgas, Kohle und Öl?": "energie",
            "Welcher Anteil der Weltbevölkerung lebt in Megacitys (Städte mit mindestens 10 Millionen Einwohnern)?": "megacity",
            "Wie viele Geleebohnen befinden sich in diesem sechseckigen Glas?": "geleebohnen",
            "Wie viele Minuten verbringen Sie an einem typischen Tag in sozialen Medien (Facebook, Instagram, Snapchat, etc.)?": "soziale_medien",
            "Wie viele Minuten investieren Sie ca. pro Tag in Ihr Studium (abgesehen von Lehrveranstaltungen)?": "studium",
            "Lesen Sie zur Zeit ein Buch?": "buch",
            "Wie alt sind Sie?": "alter",
            "Sie sind ...": "geschlecht"
}, errors="raise")

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   zeit            5 non-null      object
 1   sport           5 non-null      object
 2   fleissig        5 non-null      object
 3   entmutigen      5 non-null      int64
 4   talente         5 non-null      object
 5   einkommen       5 non-null      int64
 6   energie         5 non-null      object
 7   megacity        5 non-null      int64
 8   geleebohnen     5 non-null      int64
 9   soziale_medien  5 non-null      int64
 10  studium         5 non-null      int64
 11  buch            5 non-null      object
 12  alter           5 non-null      int64
 13  geschlecht      5 non-null      object
dtypes: int64(7), object(7)
memory usage: 688.0+ bytes

### Variablen anpassen

#### Nominale Variablen

In [31]:
# Liste mit nominalen Variablen erstellen
nominal_list = ["buch", "geschlecht"]

In [32]:
# Nominale Variablen als kategorial formatieren (category)
for i in nominal_list:
    df[i] = df[i].astype("category")

In [33]:
# Nominale Variablen anzeigen lassen
df[nominal_list].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   buch        5 non-null      category
 1   geschlecht  5 non-null      category
dtypes: category(2)
memory usage: 370.0 bytes

#### Ordinale Variablen

Die Variablen `sport`,`fleissig`, `talente` und `entmutigen` wurden mit Hilfe einer so genannten [Likert-Skala](https://de.wikipedia.org/wiki/Likert-Skala) erhoben. 

Die Antwortmöglichkeiten reichen bei der Likertskala typischerweise von „trifft überhaupt nicht zu“ bis "trifft völlig zu“, wobei eine gerade Zahl der Antwortmöglichkeiten ebenso gebräuchlich ist wie eine ungerade Anzahl. Es ist jedoch sinnvoll, in einem Fragebogen nur eine der beiden Varianten zu verwenden. Zudem sollte die Reihenfolge der Antwortmöglichkeiten immer identisch sein.

- Eine **ungerade Anzahl** wird verwendet, wenn eine mittlere Ausprägung (bspw. "teils teils") sinnvoll ist. 

- Eine **gerade Anzahl** zwingt dagegen zur Entscheidung zu einer Seite (tendenzielle Zustimmung oder Ablehnung).

Da wir nicht davon ausgehen können, dass eine befragte Person die Abstände der einzelnen Antwortmöglichkeiten als gleich weit entfernt wahrnimmt (äquidistant), handelt es sich streng genommen um ein ordinales Skalenniveau. Um bei der späteren Auswertung die erhobenen Daten aber dennoch wie intervallskalierte Daten behandeln zu können, behandelt man die Variablen oftmals als "quais-metrisch" und unterstellt somit (zumindest annäherungsweise) äquidistante Abstände. 

Wir behandeln in Folgenden zwei unterschiedliche Optionen zum Umgang mit den Variablen:

- Option 1: Wir behandeln die Variablen als ordinale Variablen (wird im Anschluss gezeigt).

- Option 2: Wir behandeln die Variablen als "quasimetrische" Variablen - d.h. wie numerische Daten (diese Option wird in dem Abschnitt "Quasi-metrische Variablen" behandelt).

In den Fragen wurde "sport", "fleissig", "talente" mit Hilfe von Bezeichnungen wie "trifft überhaupt nicht zu" erhoben, während "entmutigen" mit Hilfe von numerischen Werten (1 bis 5) erfasst wurde. Da wir besser mit einheitlich skalierten Werten umgehen können, wird zunächst die Variable "entmutigen" in das gleiche Format überführt.

Da wir die Variable `entmutigen`nicht versehentlich durch Datentransformationen fehlerhaft verändern möchten, speichern wir sie zunächst nochmals in der originalen Version ab (als `entmutigen_orig`).

In [34]:
df['entmutigen_orig'] = df['entmutigen']

Erzeugung der Listen für die Veränderung der Variable (in der korrekten Reihenfolge):

In [35]:
werte = [1, 2, 3, 4, 5]

likert =["trifft überhaupt nicht zu",
         "trifft eher nicht zu",
         "teils teils",
         "trifft eher zu",
         "trifft völlig zu"]

In [36]:
df['entmutigen'].replace(werte, likert, inplace=True)

df['entmutigen'].head()

0    trifft eher zu
1    trifft eher zu
2    trifft eher zu
3    trifft eher zu
4    trifft eher zu
Name: entmutigen, dtype: object

In [37]:
df['entmutigen_orig'].head()

0    4
1    4
2    4
3    4
4    4
Name: entmutigen_orig, dtype: int64

Erstellung einer Liste:

In [38]:
ordinal_list = ["sport", "fleissig", "talente", "entmutigen"]

In [39]:
from pandas.api.types import CategoricalDtype

cat_type= CategoricalDtype(categories=likert, ordered=True)

cat_type

CategoricalDtype(categories=['trifft überhaupt nicht zu', 'trifft eher nicht zu',
                  'teils teils', 'trifft eher zu', 'trifft völlig zu'],
, ordered=True)

In [40]:
df[ordinal_list] = df[ordinal_list].astype(cat_type)

In [41]:
df["sport"]

0    teils teils
1    teils teils
2    teils teils
3    teils teils
4    teils teils
Name: sport, dtype: category
Categories (5, object): ['trifft überhaupt nicht zu' < 'trifft eher nicht zu' < 'teils teils' < 'trifft eher zu' < 'trifft völlig zu']

In [42]:
# Anzeige der Ausprägungen
df['sport'].cat.categories

Index(['trifft überhaupt nicht zu', 'trifft eher nicht zu', 'teils teils',
       'trifft eher zu', 'trifft völlig zu'],
      dtype='object')

### Numerische Variablen

Wir behandeln zunächst die "eindeutig" numerischen Variablen (d.h. wir ignorieren die quasi-metrischen). diese wären:

- einkommen
- energie
- megacity
- geleebohnen
- soziale_medien
- studium
- alter

In [43]:
num_list = ['einkommen', 'energie', 'megacity', 'geleebohnen', 
            'soziale_medien', 'studium', 'alter']

In [44]:
df[num_list].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   einkommen       5 non-null      int64
 1   energie         5 non-null      object
 2   megacity        5 non-null      int64
 3   geleebohnen     5 non-null      int64
 4   soziale_medien  5 non-null      int64
 5   studium         5 non-null      int64
 6   alter           5 non-null      int64
dtypes: int64(6), object(1)
memory usage: 408.0+ bytes

Wir können mit `df.info()` erkennen, dass abgesehen von `energie` bereits alle Variablen korrrekt als "int64" (siehe zur Bedeutung diesen [Stackoverflow-Beitrag](https://stackoverflow.com/questions/9696660/what-is-the-difference-between-int-int16-int32-and-int64)) gespeichert wurden.

In [45]:
df['energie'].head()

0    ca. 100%
1    ca. 100%
2    ca. 100%
3    ca. 100%
4    ca. 100%
Name: energie, dtype: object

In den Antwortmöglichkeiten der Variable waren neben numerischen Werten auch Buchstaben und ein Sonderzeichen enthalen: "ca." und "%". Damit wir sinnvoll mit der Variable arbeiten können, müssen diese entfernt werden. 

Da wir die Variable nicht versehentlich durch Datentransformationen korrumpieren möchten, speichern wir sie zunächst nochmals in der originalen Version ab (als `energie_orig`). Um die numerischen Werte leichter extrahieren zu können, nutzen wir das Format "String".

In [46]:
df['energie_orig'] = df['energie'].astype("string")

Im nächsten Schritt nutzen wir einen [regulärer Ausdruck](https://www.w3schools.com/python/python_regex.asp) (englisch regular expression, Abkürzung RegExp oder Regex) um die Zahl aus dem String zu extrahieren.

|Ausdruck|Bedeutung|Beschreibung|
|:----|:----|:----|
|\d|digit|eine Ziffer, also [0-9] (und evtl. auch weitere Zahlzeichen in Unicode, z. B. bengalische Ziffern)|
|\D|no digit|ein Zeichen, das keine Ziffer ist, also [^\d]|
|\w|word character|ein Buchstabe, eine Ziffer oder der Unterstrich, also [a-zA-Z_0-9] (und evtl. auch nicht-lateinische Buchstaben, z. B. Umlaute)|
|\W|no word character|ein Zeichen, das weder Buchstabe noch Zahl noch Unterstrich ist, also [^\w]|
|\s|whitespace|meist zumindest das Leerzeichen und die Klasse der Steuerzeichen \f, \n, \r, \t und \v|
|\S|no whitespace|ein Zeichen, das kein Whitespace ist, also [^\s]|

Falls mehr als ein einzelnes Zeichen extrahiert werden soll, muss am Ende des Ausdrucks ein `+` hinzugefügt werden.

Wir nutzen regular expressions und überschreiben die alte Variable energie mit dem neuen Eintrag. Zudem speichern wir sie als interger.

In [47]:
df['energie'] = df['energie_orig'].str.extract('(\d+)').astype(int)

In [48]:
df[['energie_orig', 'energie']].head()

  energie_orig  energie
0     ca. 100%      100
1     ca. 100%      100
2     ca. 100%      100
3     ca. 100%      100
4     ca. 100%      100

### Quasi-metrische Variablen

Wie bereits erwähnt wurden die Variablen `sport`,`fleissig`, und `talente` mit Hilfe einer  [Likert-Skala](https://de.wikipedia.org/wiki/Likert-Skala) erhoben und könnten somit auch als "quasi-metrisch" behandelt werden (anstelle von ordinal).

Dabei muss jedoch beachtet werden, dass bspw. der Mittelwert aufgrund der Art der Messung (insbesondere wenn eine neutrale mittlere Ausprägung verwendet wird) an Aussagekraft verlieren.

Damit wir die Originaldaten nicht "verlieren", erzeugen wir neue Variablen. Dafür kopieren wir die Daten und fügen diesen die Endung "qm" (für quasimetrisch) hinzu.

In [49]:
for i in ordinal_list:
    df[i + "_qm"] = df[i]

In [50]:
# Erstellung der Liste mit Hilfe von filter und regular expressions
qm_list = df.filter(regex='_qm').columns.to_list()

qm_list

['sport_qm', 'fleissig_qm', 'talente_qm', 'entmutigen_qm']

In [51]:
df[qm_list].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sport_qm       5 non-null      category
 1   fleissig_qm    5 non-null      category
 2   talente_qm     5 non-null      category
 3   entmutigen_qm  5 non-null      category
dtypes: category(4)
memory usage: 996.0 bytes

Wir nutzen nun ein ähnliches Vorgehen wie bei der Anpassung der Variable "entmutigen"

In [52]:
for i in qm_list:
    df[i].replace(likert, werte, inplace=True)
    df[i] = df[i].astype("int")

In [53]:
df[qm_list].head()

   sport_qm  fleissig_qm  talente_qm  entmutigen_qm
0         3            4           1              4
1         3            4           1              4
2         3            4           1              4
3         3            4           1              4
4         3            4           1              4

In [54]:
df[qm_list].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sport_qm       5 non-null      int64
 1   fleissig_qm    5 non-null      int64
 2   talente_qm     5 non-null      int64
 3   entmutigen_qm  5 non-null      int64
dtypes: int64(4)
memory usage: 288.0 bytes

## Daten speichern

Wir versehen den Dateinamen mit dem aktuellen Datum (damit wir leichter die jeweils aktuellste Version finden können)

In [60]:
import time

TIME = "-" + time.strftime("%Y%m%d-%H%M")

Speichern als CSV:

In [61]:
SUBPATH = "processed/"

In [62]:
df.to_csv(PARENT_PATH + PATH + SUBPATH + FILE + TIME + FORMAT)

Speichern als Excel-Datei:

In [63]:
FORMAT = ".xlsx"

df.to_excel(PARENT_PATH + PATH + SUBPATH + FILE + TIME + FORMAT, index=False)