# Umfrage Teil II

Analyse

## Daten importieren

In [1]:
from pathlib import Path

PARENT_PATH = str(Path().resolve().parent) + "/"
PATH = "data/"
SUBPATH = "processed/"
FILE = "umfrage-20220917-1146"
FORMAT = ".csv"

In [2]:
import pandas as pd

df = pd.read_csv(PARENT_PATH + PATH + SUBPATH + FILE + FORMAT)

## Datenüberblick

In [3]:
df

,Unnamed: 0,zeit,sport,fleissig,entmutigen,talente,einkommen,energie,megacity,geleebohnen,...,studium,buch,alter,geschlecht,entmutigen_orig,energie_orig,sport_qm,fleissig_qm,talente_qm,entmutigen_qm
0,0,2022/09/14 8:21:58 PM OEZ,teils teils,trifft eher zu,trifft eher zu,trifft überhaupt nicht zu,9,100,4,3000,...,34,Ja,22,Männlich,4,ca. 100%,3,4,1,4
1,1,2022/09/14 8:21:58 PM OEZ,teils teils,trifft eher zu,trifft eher zu,trifft überhaupt nicht zu,9,100,4,3000,...,34,Ja,22,Männlich,4,ca. 100%,3,4,1,4
2,2,2022/09/14 8:21:58 PM OEZ,teils teils,trifft eher zu,trifft eher zu,trifft überhaupt nicht zu,9,100,4,3000,...,34,Ja,22,Männlich,4,ca. 100%,3,4,1,4
3,3,2022/09/14 8:21:58 PM OEZ,teils teils,trifft eher zu,trifft eher zu,trifft überhaupt nicht zu,9,100,4,3000,...,34,Ja,22,Männlich,4,ca. 100%,3,4,1,4
4,4,2022/09/14 8:21:58 PM OEZ,teils teils,trifft eher zu,trifft eher zu,trifft überhaupt nicht zu,9,100,4,3000,...,34,Ja,22,Männlich,4,ca. 100%,3,4,1,4

In [4]:
df.dtypes

Unnamed: 0          int64
zeit               object
sport              object
fleissig           object
entmutigen         object
talente            object
einkommen           int64
energie             int64
megacity            int64
geleebohnen         int64
soziale_medien      int64
studium             int64
buch               object
alter               int64
geschlecht         object
entmutigen_orig     int64
energie_orig       object
sport_qm            int64
fleissig_qm         int64
talente_qm          int64
entmutigen_qm       int64
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5 non-null      int64
 1   zeit             5 non-null      object
 2   sport            5 non-null      object
 3   fleissig         5 non-null      object
 4   entmutigen       5 non-null      object
 5   talente          5 non-null      object
 6   einkommen        5 non-null      int64
 7   energie          5 non-null      int64
 8   megacity         5 non-null      int64
 9   geleebohnen      5 non-null      int64
 10  soziale_medien   5 non-null      int64
 11  studium          5 non-null      int64
 12  buch             5 non-null      object
 13  alter            5 non-null      int64
 14  geschlecht       5 non-null      object
 15  entmutigen_orig  5 non-null      int64
 16  energie_orig     5 non-null      object
 17  sport_qm         5 non-null      int64
 18  fleissig_qm      5 non-null      int64
 19  talente_qm       5 non-null      int64
 20  entmutigen_qm    5 non-null      int64
dtypes: int64(13), object(8)
memory usage: 968.0+ bytes

## Daten anpassen

### Variablen anpassen

#### Nominale Variablen

In [21]:
# Liste mit nominalen Variablen erstellen
list_nominal = ["buch", "geschlecht"]

In [22]:
# Nominale Variablen als kategorial formatieren (category)
for i in list_nominal:
    df[i] = df[i].astype("category")

In [23]:
# Nominale Variablen anzeigen lassen
df[list_nominal].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   buch        5 non-null      category
 1   geschlecht  5 non-null      category
dtypes: category(2)
memory usage: 370.0 bytes

#### Ordinale Variablen

In [25]:
likert =["trifft überhaupt nicht zu",
         "trifft eher nicht zu",
         "teils teils",
         "trifft eher zu",
         "trifft völlig zu"]

list_ordinal = ["sport", "fleissig", "talente", "entmutigen"]

In [26]:
from pandas.api.types import CategoricalDtype

cat_type= CategoricalDtype(categories=likert, ordered=True)

df[list_ordinal] = df[list_ordinal].astype(cat_type)

### Numerische Variablen

In [27]:
list_num = ['einkommen', 'energie', 'megacity', 'geleebohnen', 
            'soziale_medien', 'studium', 'alter']

In [14]:
df[num_list].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   einkommen       5 non-null      int64
 1   energie         5 non-null      int64
 2   megacity        5 non-null      int64
 3   geleebohnen     5 non-null      int64
 4   soziale_medien  5 non-null      int64
 5   studium         5 non-null      int64
 6   alter           5 non-null      int64
dtypes: int64(7)
memory usage: 408.0 bytes

### Quasi-metrische Variablen

In [16]:
# Erstellung der Liste mit Hilfe von filter und regular expressions
qm_list = df.filter(regex='_qm').columns.to_list()

qm_list

['sport_qm', 'fleissig_qm', 'talente_qm', 'entmutigen_qm']

In [17]:
df[qm_list].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sport_qm       5 non-null      int64
 1   fleissig_qm    5 non-null      int64
 2   talente_qm     5 non-null      int64
 3   entmutigen_qm  5 non-null      int64
dtypes: int64(4)
memory usage: 288.0 bytes

## Analyse

### Kategoriale daten

In [20]:
df[list_nominal].describe().T

NameError: name 'list_nominal' is not defined

In [ ]:
for i in list_cat:
    print(i, "\n", df_train[i].value_counts())