# First steps in pandas

*This very short introduction to pandas is mainly based on the excellent [pandas documentation](https://pandas.pydata.org/docs/user_guide/10min.html).*

To use this tutorial, I recommend the following procedure:

1. On your machine, create a new folder called `pandas`
1. Download this tutorial as .ipynb (on the top right of this webpage, select the download button) and move it to your `pandas` folder
1. Open Visual Studio Code and select the "Explorer" symbol on the top left in the [Activity Bar](https://code.visualstudio.com/docs/getstarted/userinterface)
1. Select "Open Folder" and choose your folder `pandas`. This folder is now your project directory
1. In the Explorer, open the file `pandas-intro-short.ipynb`

## Import pandas

- To load the pandas package and start working with it, import the package. 
- The community agreed alias for pandas is `pd`, so loading pandas as pd is assumed standard practice for all of the pandas documentation:

In [ ]:
import pandas as pd

## Data creation

- To manually store data in a table, create a DataFrame:

In [ ]:
# create the DataFrame and name it my_df
# ADD: gender with male, female and male

my_df = pd.DataFrame(
    { 
        'name': [ "Tom", "Lisa", "Peter"],
        'height': [1.68, 1.93, 1.72],
        'weight': [48.4, 89.8, 84.2]
 #       ______     ________
        }
)

In [ ]:
# show my_df
my_df

## Import data

![](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

- pandas supports many different file formats or data sources out of the box (csv, excel, sql, json, parquet, …)
- each of them import data with the prefix `read_*`
- Import data, available as a CSV file in a GitHub repo:

In [ ]:
# df = pd.____("https://raw.githubusercontent.com/kirenz/datasets/master/height.csv")

# show head
df.head()

In [ ]:
# same import with different style

ROOT = "https://raw.githubusercontent.com/kirenz/datasets/master/"
DATA = "___"

df = pd.read_csv(ROOT + ___)

# show head
df.head()

## Store data

- pandas supports many different file formats (csv, excel, sql, json, parquet, …)
- each of them stores data with the prefix `to_*`
- The following code will save data as an Excel file in your current directory (you may need to install [OpenPyXL](https://openpyxl.readthedocs.io/en/stable/) first. 

:::{note}
[Anaconda installation of OpenPyXL](https://anaconda.org/anaconda/openpyxl)):
:::

- In the example here, the `sheet_name` is named people_height instead of the default Sheet1. By setting `index=False` the row index labels are not saved in the spreadsheet:

In [ ]:
df.____("height.xlsx", sheet_name="people_height", index=False)

- The equivalent read function `read_excel()` would reload the data to a DataFrame:

In [ ]:
# load excel file
df_new = pd._____("height.xlsx", sheet_name="people_height")

## Viewing data

### Overview

In [ ]:
# show df
df

In [ ]:
# show first 2 rows
df.head(_)

In [ ]:
# show last 2 rows
df.tail(_)

- The `info()` method prints information about a DataFrame including the index dtype and columns, non-null values and memory usage:

In [ ]:
df.info()

### Column names

In [ ]:
# Show columns
df.columns

### Data type

- Show data types ([dtypes](https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes)).

In [ ]:
df.___

- The data types in this DataFrame are integers (int64), floats (float64) and strings (object).

### Index

In [ ]:
# Only show index
df.___

## Change column names

- Usually, we prefer to work with columns that have the following proporties:
  - no leading or trailing whitespace (`"name"` instead of `" name "`, `" name"` or `"name "`)
  - all lowercase (`"name"` instead of `"Name"`)
  - now white spaces (`"my_name"` instead of `"my name"`)

### Simple rename

- First, we rename columns by simply using a mapping
- We rename `"Name"` to `"name"` and just print the result (we want to display errors and don't save the changes for now):

In [ ]:
df.___(columns={"Name": "___"}, errors="raise")

- Let`s rename Gender to gender
- Again, we just want to display the result (without saving it).
- Remove the # and run the following code:

In [ ]:
# df.rename(columns={"Gender": "gender"}, errors="raise")

- This raises an error. Can you spot the problem? (take a look at the end of the error statement)
- The KeyError statement tells us that `"['Gender'] not found in axis"`
- This is because variable Gender has a white space at the beginning: `[ Gender]`
- We could fix this problem by typing `" Gender"` instead of `"Gender"`
- However, there are useful functions (regular expressions) to deal with this kind of problems

### Trailing and leading spaces (with regex)

- We use regular expressions to deal with whitespaces
- To change multiple column names at once, we use the method `.columns.str` 
- To replace the spaces, we use `.replace()` with `regex=True`
- In the following function, we search for leading (line start and spaces) and trailing (spaces and line end) spaces and replace them with an empty string:

In [ ]:
# replace r"this pattern" with empty string r""
df.columns = df.columns.str.replace(r" ", r"", regex=True)

Explanation for the regex (see also [Stackoverflow](https://stackoverflow.com/a/67466222)):

- we start with `r` (for raw) which tells Python to treat all following input as raw text (without interpreting it)
- "`^`": is line start
- "` +`": (space and plus) is one or more spaces
- "`|`": is or
- "`$`": is line end


To learn more about regular expressions ("regex"), visit the following sites:

- [regular expression basics](https://www.w3schools.com/python/python_regex.asp).
- [interactive regular expressions tool](https://regex101.com/)

### Replace special characters

- Again, we use regular expressions to deal with special characters (like %, &, $ etc.)

In [ ]:
# replace r" % " with empty string r""
df.columns = df.columns.str.replace(r" ", r"", regex=True)

df.columns

### Lowercase and whitespace

- We can use two simple methods to convert all columns to lowercase and replace white spaces with underscores ("_"):

In [ ]:
df.columns = df.columns.str.___().str.replace(' ', '_')

df.columns

## Change data type

- There are several methods to [change data types in pandas](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html):

  - `.astype()`: Convert to a specific type (like "int32", "float" or "catgeory")
  - `to_datetime`: Convert argument to datetime.
  - `to_timedelta`: Convert argument to timedelta.
  - `to_numeric`: Convert argument to a numeric type.
  - `numpy.ndarray.astype`: Cast a numpy array to a specified type.

### Categorical data

- Categoricals are a pandas data type corresponding to categorical variables in statistics. 

- A categorical variable takes on a limited, and usually fixed, number of possible values (categories). Examples are gender, social class, blood type, country affiliation, observation time or rating via Likert scales.

- Converting an existing column to a category dtype:

In [ ]:
df["gender"] = df["gender"].astype("___")

df.dtypes

### String data

- In our example, id is not a number (we can't perform calculations with it)
- It is just a unique identifier so we should transform it to a simple string (object)

In [ ]:
df['id'] = df['id'].astype(___)

df.dtypes

## Add new columns

### Constant

In [ ]:
# add a constant to all rows
df["number"] = ___

df.head(3)

### From existing

 - Create new column from existing columns

In [ ]:
import numpy as np

# calculate height in m (from cm)
df['height_m'] = df.height/___

# add some random numbers
df['weight'] = round(np.random.normal(45, 5, 20) * df['height_m'],2)

# calculate body mass index
df['bmi'] = round(df.weight / (df.height_m * df.height_m),2)

### Date

- To add a date, we can use datetime and [strftime](https://strftime.org):

In [ ]:
# add date
from datetime import datetime

df["date"] = datetime.today().strftime('%Y-%m-%d')

df.head(3)

## Summary statistics

### Numeric data

- [describe()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe) shows a quick statistic summary of your numerical data.
- We transpose the data (with `.T`) to make it more readable:

In [ ]:
df.describe().T

- Obtain summary statistics for different groups (categorical data)

In [ ]:
df.groupby(['___']).describe().T

### Categorical data

- we can also use `describe()` for categorical data

In [ ]:
df.describe(include="category").T

- Show unique levels and count with `value_counts()`

In [ ]:
df['___'].value_counts()

## Sorting

Sorting by values:

In [ ]:
df.sort_values(by="___")

## Selection

### Getting []

Selecting a single column (equivalent to `df.height`):

In [ ]:
df["___"]

Selecting via [], which slices the rows (endpoint is not included).

In [ ]:
df[___:___]

### By label .loc

The `.loc` attribute is the primary access method. The following are valid inputs:

For getting a cross section using a label:

In [ ]:
df.loc[[___]]

Selecting on a multi-axis by label:

In [ ]:
df.loc[ : , ["___", "___"]]

Showing label slicing, both endpoints are included:

In [ ]:
df.loc[___:___, ["___", "___"]]

Reduction in the dimensions of the returned object:

In [ ]:
df.loc[0, ["name", "height"]]

For getting a scalar value:

In [ ]:
df.loc[[0], "height"]

### By position .iloc

pandas provides a suite of methods in order to get purely integer based indexing. Here, the .iloc attribute is the primary access method.

In [ ]:
df.iloc[0]

By integer slices:

In [ ]:
df.iloc[0:2, 0:2]

By lists of integer position locations:

In [ ]:
df.iloc[[0, 2], [0, 2]]

For slicing rows explicitly:

In [ ]:
df.iloc[1:3, :]

For slicing columns explicitly:

In [ ]:
df.iloc[:, 1:3]

For getting a value explicitly:

In [ ]:
df.iloc[0, 0]

## Filter (boolean indexing)

Using a single column’s values to select data.

In [ ]:
df[df["height"] > ___]

Using the [isin()](https://pandas.pydata.org/docs/reference/api/pandas.Series.isin.html#pandas.Series.isin) method for filtering:

In [ ]:
df[df["name"].isin(["Tom", "Lisa"])]

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

- **Splitting** the data into groups based on some criteria

- **Applying** a function to each group independently

- **Combining** the results into a data structure

Grouping and then applying the mean() function to the resulting groups.

In [ ]:
df.groupby("___").mean().T

## Segment data into bins

Use the function [cut](https://pandas.pydata.org/docs/reference/api/pandas.cut.html) when you need to segment and sort data values into bins. This function is also useful for going from a continuous variable to a categorical variable. 

In our example, we create a body mass index category. The standard weight status categories associated with BMI ranges for adults are shown in the following table:

BMI	| Weight Status
---| ---
Below 18.5 |	Underweight
18.5 - 24.9 |	Normal or Healthy Weight
25.0 - 29.9 |	Overweight
30.0 and Above |	Obese

Source: [U.S. Department of Health & Human Services](https://www.cdc.gov/healthyweight/assessing/bmi/adult_bmi/index.html)

In our function, we discretize the variable `bmi` into four bins according to the table above:

- The bins [0, 18.5, 25, 30, float('inf')] indicate (0,18.5], (18.5,25], (25,30], (30, float('inf))
- `float('inf')` is used for setting  variable with an infinitely large value

In [ ]:
df['bmi_category'] = pd.cut(df['bmi'], 
                            bins=[0, 18.5, 25, 30, float('inf')], 
                            labels=['underweight', 'normal', 'overweight', "obese"])

In [ ]:
df['bmi_category']